################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/pessoal
/RestSharpExample
/Super.EWalletCore.PersonDataManagement.IntegratedTests
/qa-automation-trn-transfer-integrated-tests
/Super.GlobalPlatform.Person.Integration.Tests
/Super.EWalletCore.AccountManagement.IntegratedTests
/qa-quantum-integrated-tests
/qa-pampas-person-integrated-tests.sln
/qa-pampas-person-integrated-tests
/qa-core-pampas-integrated-tests
/qa-cards-embossing-integrated-tests
/qa-automation-trn-transfer
/qa-automation-rest-api-cards-embossing
/qa-automation-quantum-pa-ms-operation
/qa-automation-quantum-organizational-structure
/qa-automation-pampas-pa-ms-operation
/qa-automation-pampas-operation
/pa-qa-lake
/pa-qa-integration-charges-and-benefits
/pa-ms-transactions
/pa-ms-tax-manager
/pa-ms-person.sln
/pa-ms-person
/pa-ms-operations-history
/pa-ms-operation
/pa-ms-lock-documents
/pa-ms-garnishment
/pa-ms-charges-and-benefits
/pa-ms-account-management
/pa-events-lock-documents
/pa-client-ms-tax-manager
/pa-client-ms-charges-and-benefits
/cd-qa-integration-embossing
/.vs
*.dll
/DotNet5_Refit_API_Test/DotNet5_Refit_API_Test/bin/Debug/netcoreapp3.1
/DotNet5_Refit_API_Test/DotNet5_Refit_API_Test/obj
*.csproj
*.suo
*.v2
